{% extends 'PreApp/por_defecto.html' %}

{% block titulo %}
Busqueda Cliente
{% endblock %}

{% block contenido %}
<div class="container" id="home">
    <div class="row-text-center ">
        <div class="col-md-3 head-main">
            <i class="fa fa-edit color-blue "></i>
                <h3 style="color:rgb(0, 0, 0);">BUSQUEDA DEL CLIENTE</h3>
        </div>
    </div>
</div> 
<section class="for-full-back color-light " id="about">
    <div class="container" id="home">
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-edit color-blue "></i>
                    <h3 style="color:rgb(0, 0, 0);">Ingrese el nombre del cliente</h3>
                        <form action="{% url 'buscar_c' %}" method="GET">
                            {% csrf_token %}
                                <input type="text" name="nombre" id="nombre">
                                <input type="submit" value="Buscar">
                        </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}