{% extends 'PreApp/por_defecto.html' %}

{% block titulo %}
Busqueda Forma de Pago
{% endblock %}

{% block contenido %}
<div class="container" id="home">
    <div class="row-text-center ">
        <div class="col-md-3 head-main">
            <i class="fa fa-edit color-blue "></i>
                <h3 style="color:rgb(0, 0, 0);">VER FORMA DE PAGO</h3>
        </div>
    </div>
</div> 
<section class="for-full-back color-light " id="about">
    <div class="container" id="home">
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-edit color-blue "></i>
                    <h3 style="color:rgb(0, 0, 0);">Ingrese el metodo con el que pago el producto</h3>
                        <form action="{% url 'buscar_fdp' %}" method="GET">
                            {% csrf_token %}
                                <input type="text" name="formapago" id="formapago">
                                <input type="submit" value="Buscar">
                        </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}