{% extends 'PreApp/por_defecto.html' %}

{% block titulo %}
PreApp
{% endblock %}

{% block contenido %}
<div class="container" id="home">
    <div class="row text-center ">
         <div class="col-md-3 head-main ">             
                        <i class="fa fa-bell color-blue "></i>
                     <h3>  <a href="{% url 'inicio' %}">INICIO</a></h3>

             </div>
        <div class="col-md-3 head-main">

                      <i class="fa fa-edit color-blue "></i>
                     <h3>  <a href="{% url 'op_clientes' %}">CLIENTES</a></h3>
   
             </div>
         <div class="col-md-3 head-main">

                    <i class="fa fa-globe color-blue "></i>
                     <h3>  <a href="{% url 'op_productos' %}">PRODUCTOS</a></h3>
      
             </div>
         <div class="col-md-3 head-main">
               <i class="fa fa-headphones color-blue"></i>
                  <h3>  <a href="{% url 'op_forma_pago' %}">FORMA DE PAGO</a></h3>
  
             </div>
      </div>
</div>
{% endblock %}