{% extends 'PreApp/por_defecto.html' %}

{% block titulo %}
Opciones Cliente
{% endblock %}

{% block contenido %}
<div class="container" id="home">
    <div class="row-text-center ">
        <div class="col-md-3 head-main">
            <i class="fa fa-edit color-blue "></i>
                <h3>  <a href="#about">AGREGAR CLIENTES</a></h3>
        </div>
        <div class="col-md-3 head-main">
            <i class="fa fa-globe color-blue "></i>
                <h3>  <a href="#services">VER CLIENTES</a></h3>
        </div>
    </div>
</div>
{% endblock %}