{% extends 'PreApp/por_defecto.html' %}

{% block titulo %}
Resultados Forma de Pago
{% endblock %}

{% block contenido %}
<div class="for-full-back color-light " id="about"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <h3 style="color: black;">Resultados</h3>
        </div>
    </div>
</div>
<section class="for-full-back color-light " id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <body>
                    <p>El metodo de pago elegido fue {{ forma_de_pago }} </p>
                
                    {% if  forma_de_pago %}
                
                    <ul>
                        {% for  forma_de_pago in pago %}
                        <li>Importe: {{  forma_de_pago.importe }}  </li>
                        <li>Descuento: {{  forma_de_pago.descuento }}  </li>
                        <li>Fecha: {{  forma_de_pago.fecha }}  </li>
                        {% endfor %}
                    </ul>
                
                    {% endif %}
                </body>
    </div>
       </div>
            </div>
</section> 

{% endblock %}