{% extends 'PreApp/por_defecto.html' %}

{% block titulo %}
Resultados Cliente
{% endblock %}

{% block contenido %}
<div class="for-full-back color-light " id="about"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <h1 style="color: black;">Resultados</h1>
        </div>
    </div>
</div>
<section class="for-full-back color-light " id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <body>
                    <p>Estamos buscando el cliente {{ nombre }} </p>
                
                    {% if clientes %}
                
                    <ul>
                        {% for cliente in clientes %}
                        <li>Apellido: {{ cliente.apellido }}  </li>
                        <li>Banco: {{ cliente.banco }}  </li>
                        <li>Email: {{ cliente.email }}  </li>
                        {% endfor %}
                    </ul>
                
                    {% endif %}
                </body>
    </div>
       </div>
            </div>
</section> 

{% endblock %}